/* ---------------------------activity-------------------- */
.projectActivity {
  /* border: 1px solid greenyellow; */
  background: #f9f9f9;
  margin-bottom: 10px;
  height: 38px;
  display: flex;
  align-items: center;
}
.projectActivity p {
  margin: 0px;
  padding: 10px;
  color: var(--dark-gray);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.projectActivity span {
  margin-right: 5px;
}

/* .main {
  border: 1px solid red;
  position: relative;
  left: 152px;
  top: 250px;
} */


.modalTitle {
  /* background-color: red; */
  color: var(--dark-gray);
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  display: flex;
  align-items: flex-end;
}

.modalDiv {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 10px;
}

.modalDiv:first-child {
  margin-top: 20px;
}

.modalText h2 {
  margin: 0px;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 14px;
}
.modalText p {
  margin: 0px;
  font-weight: 400;
  color: #8c8c8c;
  font-size: 14px;
}

.activityInput {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 38px;
}
