.kanbanMain {
  width: 100%;
  height: 82vh;
  overflow: auto;
  white-space: nowrap;
}

.projectMain {
  width: 100%;
  /* height: 82vh; */
  overflow: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
  height: 12px; /* height of horizontal scrollbar ← You're missing this */
  width: 50%; /* width of vertical scrollbar */
  background: #eeeeee;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--default-gray);
}

.kanbanWrapper {
  display: inline-block;
  column-gap: 2%;
  margin-top: 20px;
  width: 100%;
}

.kanbanColumns {
  height: fit-content;
  width: 300px;
  background: #eaf6ff;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 2%;
  display: inline-grid;
}

.kanbanColumnsHeader {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px !important;
  color: var(--dark-gray);
}

.kanbanColumnsHeader p {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
}
.kanbanColumnsFooter {
  display: flex;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 5px auto 15px auto;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 0px;
}
.kanbanColumnsFooter:hover {
  background: #0000000b;
}
.kanbanColumnsFooterIcon {
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.kanbanColumnsFooter .kanbanColumnsFooterTitle {
  margin: 0rem;
}

.kanbanColumns::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

.kanbanColumns::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 10px;
}

.kanbanOverflowContainer {
  max-height: 60vh !important;
  overflow-x: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;
  padding: 5px 0px 5px;
}

.kanbanCards {
  width: 90%;
  height: auto;
  margin: 5px auto;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 0px;
}
.kanbanCards:hover {
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.15);
}

.kanbanCardText1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
}

.kanbanCardText1 p {
  font-size: 14px !important;
  margin: 0px;
  color: var(--dark-gray);
  font-weight: 600;
}

.kanbanCardText2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 6px;
}

.kanbanCardText2 p {
  font-size: 12px;
  margin: 0px;
  color: #8c8c8c;
}

.kanbanCardText2 p span {
  font-weight: 600;
}

.kanbanCardIcons {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------kanban header------------------ */

.kanbanHeader {
  border-top: 1px solid var(--default-gray);
  border-bottom: 1px solid var(--default-gray);
  padding: 8px 15px 5px 15px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.kanbanSearchContainer {
  display: flex;
  width: 58% !important;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-gray);
}

.kanbanSearch {
  display: flex;
  gap: 20px;
}

.kanbanTaskButton {
  background: #f7f7f7 !important;
  color: #555555 !important;
  align-self: center;
  border: unset !important;
  font-weight: 600 !important;
}

.avatar-group-container {
  display: flex;
}

.ant-avatar-group .ant-avatar {
  font-family: var(--font-family);
  margin-left: -8px;
}

.kanbanProjectContainer {
  width: 42% !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.projectDetails {
  border: none;
  background-color: #fff;
  color: var(--color-selected);
  padding: 0px 16px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

.giveRating {
  border: 1px solid var(--color-selected);
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  color: var(--color-selected);
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 31px !important;
}

.createCard {
  border: 1px solid var(--color-selected);
  padding: 6px 32px !important;
  display: flex !important;
  align-items: center;
  border-radius: 4px !important;
  background-color: var(--color-selected) !important;
  cursor: pointer;
  font-size: 14px;
  color: white !important;
  font-weight: 600 !important;
  height: 31px !important;
}

.createCard:hover {
  border: 1px solid var(--color-selected) !important;
}

.priorityColorVeryHigh svg path {
  fill: #fe5254;
}

.priorityColorLow svg path {
  fill: #8c8c8c;
}
.priorityColorAverage svg path {
  fill: #f3b30e !important;
}
.priorityColorHigh svg path {
  fill: #fb823e;
}

/********************************Card Details Modal Style***********************************/

.cardPickedUp{
  opacity: 0.1;
}

.cardDetailsModalStyle .ant-modal-content {
  height: 600px;
  overflow-y: auto;
}

.opacityDisabled{
  opacity: 0.5;
}

.opacityDisabled:hover{
  background-color: #fff;
  cursor: not-allowed;
}
/* ---------------------Card Vendor Popover Css Start--------------------- */
.cardVendorPopoverContainer {
  width: 20rem;
}
.cardDeletePopoverContainer {
  width: 10rem;
}

.cardDeleteopoverBodyTextDelete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem;
  cursor: pointer;
  padding: 0.5rem;
}
.cardDeleteopoverBodyTextDelete:hover {
  background: #0000000b;
}
.cardVendorPopoverContainer .ant-popover-inner {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.cardVendorPopoverContainer .ant-popover-title {
  padding: 0rem !important;
}
.cardVendorPopover {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  height: 4rem;
  padding: 0.5rem 1rem;
  display: flex;
  width: 100%;
}
.cardVendorPopoverAvatar {
  width: 4rem !important;
  height: 4rem !important;
  display: flex !important;
  align-items: center;
  position: absolute !important;
  left: 18px;
  top: 20px;
  border: 1px solid #ffffff;
}
.cardVendorPopoverAvatar span {
  font-size: 2rem;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3) !important;
}
.cardVendorPopoverNameEmail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 5rem;
}
.cardVendorPopoverName {
  font-weight: 700;
}
.cardVendorPopoverEmail {
  font-size: 12px;
}
.cardVendorPopoverNameEmail p {
  margin: 0;
}
.cardVendorPopoverContainer .cardVendorPopoverBody {
  height: 5rem;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
}
.cardVendorPopoverBodyTextDelete {
  border-top: 1px solid #d9d9d9;
  display: flex;
  width: 100%;
  margin: 0rem;
  padding: 0.5rem 1.125rem !important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.cardVendorPopoverBodyTextDelete:hover {
  background: #0000000b;
}
/* ---------------------Card Vendor Popover Css End--------------------- */

/* ---------------------Card Details Vendor Popover Css Start--------------------- */
.cardDetailsAddRemoveVendorPopover {
  width: 20rem;
}
.cardDetailsAddRemoveVendorPopover .ant-popover-inner-content {
  height: 25rem;
}
.cardDetailsAddRemoveVendorPopover .ant-popover-title {
  display: flex;
  justify-content: center;
}
.cardDetailsAddRemoveVendorPopover .cardDetailsPopoverContainer {
  padding: 1rem;
}
.cardDetailsAddRemoveVendorPopover .cardDetailsBoardMembers {
  margin-top: 0.5rem;
}
.cardDetailsAddRemoveVendorPopover
  .cardDetailsBoardMembers
  .ant-list-item {
  cursor: pointer;
  padding: 0rem 0.2rem;
}
.cardDetailsAddRemoveVendorPopover
  .cardDetailsBoardMembers
  .ant-list-item:hover {
  background: #0000001a;
}
.cardDetailsAddRemoveVendorPopover
  .cardDetailsBoardMembers
  .ant-list-item-meta {
  padding: 0.2rem;
  align-items: center;
}
.cardDetailsAddRemoveVendorPopover .cardDetailsBoardMembersText {
  margin-left: 0.1rem;
}
/* ---------------------Card Details Vendor Popover Css End--------------------- */
